include README.md
include LICENSE
include CHANGELOG.md
include SECURITY.md
include pyproject.toml
recursive-include goodday_mcp *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
global-exclude *.so
global-exclude .git*
